<h1>celebrities</h1>
<% allCelebrities.forEach(({ name,occupation}) => { %>
<div style="border: 1px solid black; width: 300px; margin: 20px">
<h4><%= name %></h4>
<h5><%= occupation %></h5>
</div>
<% }) %> 